<div *ngIf="products;else err" class="container prod-table" >

  <div class="headers">
      <h2 class="table-title">Manage Products</h2>
      <button class="btn add " (click) ="openForm()">Add Product</button>

  </div>
  <table  class="table">
      <thead>
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Price</th>
              <th>Stock</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody class="text-center">
          <tr *ngFor="let product of products">
              <td>{{product['id']}}</td> 
              <td>{{product['name']}}</td>
              <td>{{product['price']}}</td>
              <td>{{product['stock']}}</td>
              <td>
                  <button class="btn btn-primary"(click)="openForm(product)">Update</button>
              </td>
              <td>
                  <button class="btn btn-danger" (click)="deleteProduct(product['id'])">Delete</button>
              </td>

          </tr>

      </tbody>
  </table>

</div>

<ng-template #err >

  <p class="text-danger">error fetching data</p>

</ng-template>

<div class="form-wrapper" *ngIf="showForm">
  <div class="productForm">
      <h2 class="text-info text-center">{{formHeader}}</h2>
      <!-- <div class="group">
        <label for="product">Id</label>
        <input type="number" class="form-control" [(ngModel)]="id" name="id" >
      </div> -->
      <div class="group">
          <label for="product">Name</label>
          <input type="text" class="form-control" [(ngModel)]="name" name="name" >
      </div>
      <div class="group">
          <label for="price">Price</label>
          <input type="number" class="form-control" [(ngModel)]="price" name="price" >
      </div>
      <div class="group">
          <label for="ram">Stock</label>
          <input type="number" class="form-control" [(ngModel)]="stock" name="stock">
      </div>

      <div class="action">
          <button class="btn btn-primary save" (click)="saveProduct()">Save Changes</button>
          <button class="btn btn-danger cancel" (click)="closeForm()">Cacel</button>
      </div>
  </div>
</div>